body {
    font: 14px "Lato", Tahoma, Arial, sans-serif;
    padding-top: 50px;
    padding-bottom: 80px;
    background: #FEFEFE;
}

.container-fuild + .container-fluid,
.container-fuild + .container,
.container + .container-fluid,
.container + .container {
    margin-top: 100px;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

header {
    background-color: #111;
    border-bottom: 1px solid #000;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.1);
       -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.1);
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    min-height: 35px;
}

.menu.navbar > li > a:link,
.menu.navbar > li > a:visited {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 35px;
    color: #989898 !important;
}

.menu.navbar > li.active > a,
.menu.navbar > li:hover > a,
.menu.navbar > li > a:active,
.menu.navbar > li > a:focus,
.menu.navbar > li > a:hover {
    background: none;
    color: #fff !important;
}

.grid [class*="col-"] {
    background: #EEEEEE;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.2);
       -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.2);
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,.2);
}

footer {
    background-color: #111;
    border-top: 1px solid #000;
    color: #989898;
    -webkit-box-shadow: 0px -1px 2px 0px rgba(0,0,0,.1);
       -moz-box-shadow: 0px -1px 2px 0px rgba(0,0,0,.1);
            box-shadow: 0px -1px 2px 0px rgba(0,0,0,.1);
    position: fixed;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
}