body {
    font: 14px "Lato", Tahoma, Arial, sans-serif;
    background: #fefefe;
}



.leftcol {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 225px;
    background-color: #1b1c1d;
    z-index: 1;
}


.leftcol > .header {
    height: 50px;
    z-index: 3;
}

.leftcol > .content {
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 225px;
    padding: 5px 5px 5px 5px;
    z-index: 1;
}

.leftcol > .content > .menu.menu-vertical {
    background: none;
}

.leftcol > .content > .menu.menu-vertical > li {}

.leftcol > .content > .menu.menu-vertical > li + li {
    border-top: none;
}

.leftcol > .content > .menu.menu-vertical > li.header {
    background-color: transparent;
    color: #f9f9f9
}

.leftcol > .content > .menu.menu-vertical > li.divider {
    background-color: #333;
}

.leftcol > .content > .menu.menu-vertical > li > a:link,
.leftcol > .content > .menu.menu-vertical > li > a:visited {
    background: none;
    color: #999 !important;
}

.leftcol > .content > .menu.menu-vertical > li.active > a,
.leftcol > .content > .menu.menu-vertical > li:hover > a,
.leftcol > .content > .menu.menu-vertical > li > a:active,
.leftcol > .content > .menu.menu-vertical > li > a:focus,
.leftcol > .content > .menu.menu-vertical > li > a:hover {
    color: #f9f9f9 !important;
}

.contentcol {
    position        : relative;
    padding         : 0 15px 0 240px;
    z-index         : 0;
    -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
    min-width       : 0px;
    min-height      : 1300px;
    z-index: 0;
}